In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn import metrics

In [ ]:
label_encoder = LabelEncoder()

In [14]:
original_dataset = pd.read_csv('data/HR_Abandono.csv', sep=';')
original_dataset['satisfaction_level'] = original_dataset['satisfaction_level'].replace(',', '.', regex=True).astype(float)
original_dataset['last_evaluation'] = original_dataset['satisfaction_level'].replace(',', '.', regex=True).astype(float)
original_dataset.head()

,id,satisfaction_level,last_evaluation,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,salary,num_project,depto
0,1,0.38,0.38,157,3,0,1,0,low,2,sales
1,2,0.80,0.80,262,6,0,1,0,medium,5,sales
2,3,0.11,0.11,272,4,0,1,0,medium,6,sales
3,4,0.72,0.72,223,5,0,1,0,low,5,sales
4,5,0.37,0.37,159,3,0,1,0,low,2,sales

In [5]:
original_dataset.describe()

,id,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,num_project
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,7500.000000,201.083672,3.407027,0.144610,0.238083,0.021268,3.785986
std,4329.982679,50.182121,1.176120,0.351719,0.425924,0.144281,1.194539
min,1.000000,96.000000,2.000000,0.000000,0.000000,0.000000,2.000000
25%,3750.500000,156.000000,3.000000,0.000000,0.000000,0.000000,3.000000
50%,7500.000000,200.000000,3.000000,0.000000,0.000000,0.000000,4.000000
75%,11249.500000,245.000000,4.000000,0.000000,0.000000,0.000000,5.000000
max,14999.000000,810.000000,6.000000,1.000000,1.000000,1.000000,6.000000

In [15]:
original_dataset.isnull().sum()

id                       0
satisfaction_level       0
last_evaluation          0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
salary                   0
num_project              0
depto                    0
dtype: int64

In [ ]:
plt.figure(figsize=(10, 6))
sns.swarmplot(data=original_dataset, x="left", y="time_spend_company", alpha=0.5)
plt.show()